<% include partials/head %>

<style>
	body {
	  font-family: Arial, sans-serif;
	  background-color: #36393f;
	}
	p{
	  text-align: center;
	  color: #cbcbcc;
	  font-size: 16px;
	  margin-top: 2.5px;
	  margin-bottom: -15px;
	}
	h1{
	  text-align: center;
	  color: #cbcbcc;
	  margin-top: 2.5px;
	  margin-bottom: 2.5px;
	}
	h2{
		text-align: center;
		margin-top: -20px;
		margin-bottom: 0px;
		color: #6f7276;
		font-size: 12px;
	}
	h3{
		text-align: center;
		margin-top: 25px;
		margin-bottom: 0px;
		color: #cbcbcc;
		font-size: 24px;
	}
	img{
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	input{
		background-color: #566cf5;
		width: 75px;
		height: 37.5px;
		text-align: center;
	  	color: #cbcbcc;
		font-size: 12px;
		font-weight: bold;
		border: none;
		border-radius: 5px;
		transition: 0.5s;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	input:hover{
		cursor: pointer;
		box-shadow: none;
		background-color: #566bf5a2;
	}
	input:active{
		cursor: none;
		background-color: #6f7276;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
    .center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
	  border-radius: 10px;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	@media(min-width: 468px){
	.flexbox-container{
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-around;
	}
}
	.flexbox-item{
	  background-color: #566cf5;
	  width: 300px;
	  height: 450px;
	  border-radius: 10px;
	  padding: 1px 25px 1px 25px;
	  margin: 15px 15px 15px 15px;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	#rank{
		margin-top: 35px;
		margin-bottom: 0px;
	}
	#title{
		margin-top: -20px;
		margin-bottom: 0px;
	}
  </style>
  
  <title>Box Office</title>
  </head>
  <body>
  <main>
  <input type="button" onclick="history.back();" value="Home">

  <h2><i>There will be<br>a logo here<br>eventually...</i></h2><br>
  <h1>Box Office</h1><br>
  <h2><i>Find weekly box office info...</i></h2>

  <h3>Top Ten:</h3><br>

  <div class="flexbox-container">
<% data['items'].forEach(function(movie){ %>
  <section class="flexbox-item">
	<div>
		<div id="rank">
		  <h3><%= movie['rank'] %></h3><br>
		</div>
		  <img src="<%= movie['image'] %>" alt="Movie Poster" width=120 height=180 class="center"><br> <!--width/height css conflict?-->
		<div id="title">
		  <h3><b><i><%= movie['title'] %></i></b></h3><br>
		</div>
		  <p>Weekend Earnings: <%= movie['weekend'] %></p><br>
		  <p>Total Earnings: <%= movie['gross'] %></p><br>
		  <p>Weeks Out: <%= movie['weeks'] %></p><br>
	</div>
  </section>  
  <% }) %>
  </div>
  </main>
  <footer>
	  <br><br><br>
	<h1><a href="https://www.imdb.com/" target="_blank"><img src="/images/imdb.png" alt="IMDb Logo" width="200" height="200"></a></h1><br><br>
	<h2><i>Data is courtesy of IMDb API</i></h2><br><br><br>
  </footer>
  </body>
  </html>  