<% include partials/head %>

	<title>Reviews</title>
</head>
<body>
	<h1 class="style">Search Results</h1>
	<input type="button" onclick="history.back();" value="Return to Search">
	<br>
	<table border="10">
	  <tr>
		<th>Film Title</th>
        <th>MPAA Rating</th>
        <th>Critics Pick</th>
        <th>Reviewed By:</th>
        <th>Review Headline</th>
        <th>Article Link:</th>
        <th>Publication Date</th>
        <th>Date Updated:</th>
		<th>Plot Summary:</th>
        <th>Film Opening Date:</th>
	  </tr>

	  <% data['results'].forEach(function(movie){ %>
	  <tr>
	    <td><%= movie['display_title'] %></td>
		<td><%= movie['mpaa_rating'] %></td>
		<td><%= movie['critics_pick'] %></td>
        <td><%= movie['byline'] %></td>
        <td><%= movie['headline'] %></td>
		<td><a href="<%= movie.link['url'] %>"><%= movie.link['url'] %></a></td>
        <td><%= movie['publication_date'] %></td>
        <td><%= movie['date_updated'] %></td>
		<td><%= movie['summary_short'] %></td>
        <td><%= movie['opening_date'] %></td>
	  </tr>
	  <% }) %>
	</table>
	<br/>
</body>
</html>